us_diocese_mapper.ipynb
us_diocese_mapper_V4.ipynb
us_diocese_mapper_V3.ipynb
us_diocese_mapper_V2.ipynb
county_shapes_test.geojson
Test.csv
copy_paste_space.py
geckodriver.log
.~lock.diocese_province_list.csv#
diocese_list_for_name_checking_modified.csv
diocese_list_for_name_checking.csv
original_county_outlines.geojson
